<div class="flex flex-col">
  <div class="mb-6">
    <h1>Users</h1>
  </div>
  <div>
    <% @users.each do |user| %>
      <table>
        <thead>
          <tr>
            <th>User name</th>
            <th>Age</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.age %></td>
            <td><%= user.email %></td>
          </tr>
        </tbody>

      </table>
    <% end %>
  </div>
  
</div>

