<div class="flex flex-col">
  <div class="mb-6">
    <h1>交通費 一覧</h1>
  </div>
  <div>
      <table class='table-auto'>
        <thead>
          <tr>
            <th>Amount</th>
            <th>day</th>
            <th>user_id</th>
          </tr>
        </thead>
        <tbody>
          <% @traveling_expense.each do |expense| %>
          <tr>
            <td><%= expense.amount %></td>
            <td><%= expense.day %></td>
            <td><%= expense.user_id %></td>
          </tr>
          <% end %>
        </tbody>

      </table>
  </div>
  
</div>

